@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Text";
  font-weight: bold;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #128DE0;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: translateY(100px);
}
body .go-top:hover {
  background: #128DE0;
}
body .go-top:hover span:nth-child(1) {
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
body .go-top:hover span:nth-child(2) {
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
body .go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  transition: 0.2s;
}
body .go-top span:nth-child(1) {
  left: 5px;
}
body .go-top span:nth-child(2) {
  left: 20px;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 141, 224, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
body .overlay-menu.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}
body .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
body .overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}
body .modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}
body .mfp-bg {
  z-index: 1052;
}
body .mfp-wrap {
  z-index: 1053;
}
body .swal2-popup .swal2-styled.swal2-confirm {
  background: #128DE0;
}
body .swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}
body .ui-widget.ui-widget-content {
  z-index: 1050;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #e1e1e1;
  color: #5E5E5E;
  border-radius: 3px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  background: white;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
  background: #128DE0;
  color: white;
  border-color: #128DE0;
}

.bread-crumb {
  color: black;
  margin-bottom: 30px;
  text-align: left;
  margin-top: 10px;
  padding-top: 100px;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "";
  font-family: fontAwesome;
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #128DE0;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #128DE0;
}

article {
  padding-top: 100px;
}

.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1001;
  transform: translateX(100%);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;
}
.cart.cart-out {
  transform: none;
}
.cart-header {
  padding: 30px 20px;
  background: #128DE0;
  color: white;
}
.cart-header h3 {
  font-weight: bold;
  margin-top: 5px;
}
.cart-header i {
  font-size: 24px;
  margin-top: -10px;
}
.cart-header i.cart-close {
  cursor: pointer;
  transition: 0.5s;
}
.cart-header i.cart-close:hover {
  color: black;
}
.cart-header span {
  position: absolute;
  background: black;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  margin-left: -10px;
}
.cart-body {
  padding: 15px;
  max-height: 100%;
  overflow-y: scroll;
}
.cart-body::-webkit-scrollbar {
  width: 5px;
}
.cart-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-body::-webkit-scrollbar-thumb {
  background: #888;
}
.cart-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cart-body .box-product-cart {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-body .box-product-cart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.cart-body .box-product-cart-detail h5 {
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail h5 a {
  font-weight: 500;
  transition: 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-body .box-product-cart-detail h5 a:hover {
  color: #128DE0;
}
.cart-body .box-product-cart-detail .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.cart-body .box-product-cart-detail .quantity button:hover {
  background: #128DE0;
}
.cart-body .box-product-cart-detail h4 {
  font-weight: bold;
  color: #128DE0;
}
.cart-footer {
  z-index: 10;
  background: white;
  margin-top: 20px;
}
.cart-footer a {
  padding: 7px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #959595;
  border: 2px solid #959595;
  color: white;
  font-size: 16px;
  transition: 0.5s;
}
.cart-footer a:hover {
  color: white;
  border-color: #128DE0;
  background: #128DE0;
}
.cart-footer a:nth-child(1) {
  color: #5E5E5E;
  background: none;
}
.cart-footer a:nth-child(1):hover {
  color: #128DE0;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #128DE0;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #128DE0;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #128DE0;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity span {
  margin-right: 5px;
}
.quickview .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}
.quickview .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.quickview .quantity button:hover {
  background: #128DE0;
}
.quickview .quantity button.custom-cart {
  background: #128DE0;
  border: 0;
  padding: 0 14px;
  height: 40px;
  width: auto;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid #128DE0;
  margin-left: 10px;
}
.quickview .quantity button.custom-cart:hover {
  color: #128DE0;
  background: none;
}
.quickview .quantity .custom-wishlist {
  background: white;
  margin-left: 5px;
  border: 1px solid white;
}
.quickview .quantity .custom-wishlist:hover {
  border-color: #128DE0;
}
.quickview .tags span a {
  color: #128DE0;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #128DE0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.footer {
  background-image: url("../img/bg-footer.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.footer h4 {
  text-transform: uppercase;
  font-weight: 500;
}
.footer .footer-1 .footer-top-1 {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #383838;
  height: 100px;
}
.footer .footer-1 .footer-top-1 i {
  font-size: 60px;
  margin-right: 10px;
  color: #128DE0;
}
.footer .footer-1 .footer-top-1 h4 {
  margin-top: 25px;
}
.footer .footer-1 .footer-top-1 a {
  transition: 0.3s;
}
.footer .footer-1 .footer-top-1 a:hover {
  color: #128DE0;
}
.footer .footer-1 .footer-top-1 a:hover i {
  color: #128DE0;
}
.footer .footer-1 .footer-top-1 a i {
  font-size: 14px;
  color: white;
  transition: 0.3s;
}
.footer .footer-2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #383838;
  height: 100px;
}
.footer .footer-2 h4 {
  padding-top: 25px;
}
.footer .footer-2 i {
  font-size: 30px;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-2 i:hover {
  color: #128DE0;
}
.footer .footer-bottom {
  margin-bottom: 20px;
}
.footer .footer-bottom h4 {
  margin-bottom: 20px;
}
.footer .footer-bottom ul li {
  margin-bottom: 15px;
  color: #ccc;
  font-size: 14px;
}
.footer .footer-bottom ul li a {
  color: #cccccc;
  transition: 0.3s;
}
.footer .footer-bottom ul li a:hover {
  color: #128DE0;
}
.footer .footer-bottom ul li i {
  color: #128DE0;
  margin-right: 10px;
}
.footer .footer-bot {
  padding: 15px 0;
  border-top: 1px solid #383838;
}
.footer .footer-bot h4 {
  margin-bottom: 10px;
}
.footer .footer-bot ul li {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #666;
}
.footer .footer-bot ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.footer .footer-bot h5 {
  margin-top: 15px;
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cart-page-product {
  margin-bottom: 30px;
}
.cart-page-product table {
  border: 1px solid #e1e1e1;
}
.cart-page-product table thead {
  background: #f4f4f4;
  border: none;
}
.cart-page-product table thead th {
  border-right: 1px solid #e1e1e1;
  text-align: center;
  font-weight: 500;
}
.cart-page-product table tbody td {
  text-align: center;
}
.cart-page-product table tbody h4 {
  font-weight: bold;
}
.cart-page-product .table-dark {
  background: transparent;
}
.cart-page-product .table-responsive > .table-bordered {
  border-top: 1px solid #e1e1e1;
}
.cart-page-product-1 {
  text-align: left !important;
  color: black;
}
.cart-page-product-1 img {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.cart-page-product-1 h5 {
  transition: 0.5s;
}
.cart-page-product-1 h5 a {
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.cart-page-product-1 h5 a:hover {
  color: #128DE0;
}
.cart-page-product-1 i {
  margin-top: 5px;
  transition: 0.5s;
  color: black;
  font-size: 20px;
}
.cart-page-product-1 i:hover {
  color: #128DE0;
}
.cart-page-product .quantity {
  text-align: center;
}
.cart-page-product .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #128DE0;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.cart-page-product .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: #959595;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
  margin-bottom: 5px;
}
.cart-page-product .quantity button:hover {
  background: #128DE0;
}
.cart-page-product-3 h4 {
  color: #128DE0;
}
.cart-page-total {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  color: black;
}
.cart-page-total-title {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-weight: 500;
}
.cart-page-total .table-dark {
  background: none;
  font-size: 12px;
}
.cart-page-total .table-dark .total-over {
  color: #128DE0;
}
.cart-page-total input {
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background: none;
  padding-left: 10px;
  font-style: italic;
  color: #cccccc;
}
.cart-page-total input:focus {
  outline-color: #128DE0;
}
.cart-page-total button {
  background: #383838;
  color: #cccccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-page-total button:hover, .cart-page-total button:focus {
  background: #128DE0;
  color: black;
  outline: none;
}
.cart-page-total-btn {
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding-top: 10px;
}
.cart-page-total-btn button {
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  color: white;
  background: #128DE0;
  border: 2px solid #128DE0;
  border-radius: 3px;
}
.cart-page-total-btn button a {
  font-weight: bold;
  color: white;
}
.cart-page-total-btn button:hover {
  background: none;
}
.cart-page-total-btn button:hover a {
  color: #128DE0;
}
.cart-page-btn button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #383838;
  margin-left: 5px;
  margin-bottom: 30px;
}
.cart-page-btn button:hover {
  color: white;
  background: #128DE0;
}
.cart-page-btn a {
  text-transform: uppercase;
  padding: 10px 15px;
  background: #cccccc;
  color: #383838;
  transition: 0.3s;
  border-radius: 3px;
  font-weight: 500;
}
.cart-page-btn a:hover {
  color: white;
  background: #128DE0;
}

.pay-page {
  margin: 40px 0;
  color: black;
}
.pay-page-title h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.pay-page .pay-info-1 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.pay-page .pay-info-1 input,
.pay-page .pay-info-1 select {
  height: 40px;
  border: 1px solid #e1e1e1;
  background: none;
  color: #585858;
  font-size: 14px;
}
.pay-page .pay-info-1 input:hover, .pay-page .pay-info-1 input:focus,
.pay-page .pay-info-1 select:hover,
.pay-page .pay-info-1 select:focus {
  box-shadow: 0 0 0 0.1rem #128DE0;
}
.pay-page .pay-info-1 textarea {
  background: none;
  border: 1px solid #e1e1e1;
  height: 100px;
  font-size: 14px;
}
.pay-page .pay-info-1 textarea:hover, .pay-page .pay-info-1 textarea:focus {
  box-shadow: 0 0 0 0.1rem #128DE0;
}
.pay-page .pay-info-1 .form-group {
  margin-bottom: 20px;
}
.pay-page .pay-info-2 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  color: #585858;
}
.pay-page .pay-info-2 td {
  text-align: center;
}
.pay-page .pay-info-2 .pay-total {
  color: #128DE0;
  font-weight: 500;
  font-size: 16px;
}
.pay-page .pay-info-2-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pay-page .pay-info-2-btn button {
  background: none;
  color: #585858;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.pay-page .pay-info-2-btn button:focus {
  outline: none;
}
.pay-page .pay-info-2-btn a {
  background: #cccccc;
  color: #585858;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
}
.pay-page .pay-info-2-btn a:hover {
  background: #128DE0;
  color: white;
}
.pay-page .pay-info-2-btn .order-btn {
  padding: 8px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #128DE0;
  border: 2px solid #128DE0;
}
.pay-page .pay-info-2-btn .order-btn:hover {
  background: none;
  color: #128DE0;
}
.pay-page .pay-order {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
}
.pay-page .pay-order p {
  margin: 0;
}
.pay-page .pay-order .box-pay-order {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.pay-page .pay-order .box-pay-order img {
  width: 100px;
  margin-right: 10px;
  float: left;
  position: relative;
}
.pay-page .pay-order .box-pay-order h5 {
  margin-bottom: 5px;
}
.pay-page .pay-order .box-pay-order h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.pay-page .pay-order .box-pay-order h5 a:hover {
  color: #128DE0;
}
.pay-page .pay-order .box-pay-order h4 {
  color: #128DE0;
}

.menu {
  position: fixed;
  width: 100%;
  background: none;
  top: 0;
  right: 15px;
  z-index: 1000;
  height: 100px;
  transition: 0.3s;
}
.menu .container-fluid {
  width: calc(100% - 100px);
}
.menu.down {
  height: 60px;
  background-image: url("../img/bg-header.png");
}
.menu.down .logo img {
  height: 40px;
  transition: 0.3s;
}
.menu.down .main-menu .nav li {
  padding: 15px;
}
.menu.down .main-menu .nav li ul {
  top: 60px;
}
.menu.down .main-menu .nav li ul li {
  padding: 0;
}
.menu.down .search .search-btn, .menu.down .search .cart-btn {
  margin: 13px 0;
  margin-left: 10px;
}
.menu.down .search-form {
  top: 10px;
}
.menu .logo {
  margin: 10px 0;
}
.menu .logo img {
  height: 80px;
  transition: 0.3s;
}
.menu .main-menu {
  position: relative;
  text-align: center;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: black;
  margin: 10px 0;
  z-index: 10000;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  transition: 0.3s;
}
.menu .main-menu .nav li {
  padding: 35px 15px;
  transition: 0.3s;
  display: inline-block;
  position: relative;
}
.menu .main-menu .nav li:hover ul {
  transform: none;
  opacity: 1;
  height: auto;
  transition: 0.5s;
}
.menu .main-menu .nav li:hover ul li {
  display: block;
}
.menu .main-menu .nav li i {
  padding-left: 5px;
  font-size: 20px;
}
.menu .main-menu .nav li .active {
  color: #128DE0;
}
.menu .main-menu .nav li a {
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
  padding: 0;
}
.menu .main-menu .nav li a:hover {
  color: #128DE0;
}
.menu .main-menu .nav li ul {
  position: absolute;
  width: 240px;
  background: white;
  top: 100px;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: left;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  height: 0;
}
.menu .main-menu .nav li ul li {
  padding: 0;
  display: none;
}
.menu .main-menu .nav li ul li a {
  padding: 15px 20px;
  width: 240px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 400;
  text-transform: initial;
  font-size: 14px;
}
.menu .main-menu .nav li ul li a:hover {
  color: white;
  background: #128DE0;
}
.menu .search {
  float: right;
  z-index: 2;
  position: relative;
}
.menu .search .search-btn, .menu .search .cart-btn {
  color: black;
  cursor: pointer;
  margin: 33px 0;
  font-size: 24px;
  transition: 0.3s;
  display: inline-block;
  margin-left: 10px;
}
.menu .search .search-btn:hover, .menu .search .cart-btn:hover {
  color: #128DE0;
}
.menu .search .search-btn i.mdi-close, .menu .search .cart-btn i.mdi-close {
  background: white;
  border-radius: 50%;
}
.menu .search .cart-btn span {
  width: 14px;
  height: 14px;
  line-height: 14px;
  color: white;
  background: #128DE0;
  position: absolute;
  font-size: 9px;
  text-align: center;
  border-radius: 50%;
  margin-left: -10px;
}
.menu .search-form {
  position: fixed;
  right: 95px;
  top: 30px;
  width: 40px;
  transition: width 0.3s ease-in-out;
}
.menu .search-form.active {
  width: auto;
}
.menu .search-form.active input {
  display: block;
  width: 400px;
  opacity: 1;
  transition: width 0.3s ease-in-out;
}
.menu .search-form.active button {
  opacity: 1;
  transition: 0.3s;
}
.menu .search-form form {
  position: relative;
}
.menu .search-form input {
  height: 40px;
  border-radius: 40px;
  padding-left: 40px;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease;
  border-right: 0;
}
.menu .search-form input:focus {
  box-shadow: none;
  border: 1px solid #128DE0;
}
.menu .search-form button {
  position: absolute;
  left: 10px;
  top: 5px;
  background: none;
  color: #585858;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.menu .search-form button:hover {
  color: #128DE0;
}

.title-page {
  text-align: center;
}
.title-page h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: 500;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(transparent, transparent), url("../img/iconbox-bg.gif");
  background-position: left;
  background-size: 125%;
  text-align: center;
}

.slider {
  margin-left: 50px !important;
  margin-right: 50px !important;
  position: relative;
  margin-bottom: 120px;
}
.slider::before {
  content: "";
  background-image: url("../img/bg-header.png");
  width: 120%;
  height: 100%;
  top: -100px;
  left: -13%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider::after {
  content: "";
  background-image: url("../img/icon-header.png");
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slider .owl-theme .owl-nav button.owl-prev,
.slider .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.3s;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  line-height: 36px;
}
.slider .owl-theme .owl-nav button.owl-prev:hover,
.slider .owl-theme .owl-nav button.owl-next:hover {
  background: #128DE0;
  border-color: #128DE0;
}
.slider .owl-theme .owl-nav button.owl-prev:focus,
.slider .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.slider .owl-theme .owl-nav button.owl-prev {
  left: 2%;
}
.slider .owl-theme .owl-nav button.owl-next {
  right: 2%;
}

.aboutus {
  margin-bottom: 60px;
}
.aboutus h1 {
  font-size: 3em;
  color: #F7941E;
  font-weight: bold;
}
.aboutus h3 {
  margin-bottom: 30px;
}
.aboutus p {
  color: #585858;
  margin-bottom: 20px;
}
.aboutus .dash {
  width: 100px;
  height: 1px;
  background: #e1e1e1;
  margin: auto;
  margin-bottom: 10px;
}

.category {
  margin-bottom: 50px;
}
.category-zone {
  display: grid;
  grid-template-areas: "cate-1 cate-1 cate-2 cate-3" "cate-4 cate-5 cate-6 cate-6";
  height: 80vh;
  width: 100%;
  grid-gap: 30px;
}
.category-zone:hover .box-category:not(:hover) {
  opacity: 0.7;
}
.category-zone .box-category {
  position: relative;
  background: black;
  overflow: hidden;
  transition: 0.5s;
}
.category-zone .box-category:hover span {
  transform: translate(-50%, -50%) scaleY(0);
}
.category-zone .box-category:hover img {
  transform: scale(1.2);
}
.category-zone .box-category img {
  max-width: fit-content;
  transition: 1s;
}
.category-zone .box-category span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: white;
  padding: 10px 30px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}
.category-zone .box-category span::before {
  content: "";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid white;
  position: absolute;
  left: -5px;
  top: -5px;
}
.category-zone .box-category.cate-0 {
  grid-area: cate-1;
}
.category-zone .box-category.cate-1 {
  grid-area: cate-2;
}
.category-zone .box-category.cate-2 {
  grid-area: cate-3;
}
.category-zone .box-category.cate-3 {
  grid-area: cate-4;
}
.category-zone .box-category.cate-4 {
  grid-area: cate-5;
}
.category-zone .box-category.cate-5 {
  grid-area: cate-6;
}

.product {
  margin-bottom: 50px;
}
.product-zone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.product-all {
  text-align: center;
  margin-top: 40px;
}
.product-all a {
  padding: 10px 30px;
  background: #F7941E;
  border-radius: 40px;
  color: white;
  transition: 0.3s;
}
.product-all a:hover {
  background: #128DE0;
  color: white;
}

.box-product {
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  position: relative;
  padding-bottom: 15px;
}
.box-product:hover .box-product-img-custom {
  transform: scale(1);
}
.box-product:hover .box-product-img-custom i {
  transform: none;
}
.box-product-status {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 40px;
  height: 25px;
  text-align: center;
  line-height: 35px;
  background: #F7941E;
  color: white;
  z-index: 1;
  text-transform: uppercase;
}
.box-product-status::before {
  content: "";
  position: absolute;
  border-left: 20px solid transparent;
  border-top: 10px solid #F7941E;
  bottom: -10px;
  left: 0;
}
.box-product-status:after {
  content: "";
  position: absolute;
  border-right: 20px solid transparent;
  border-top: 10px solid #F7941E;
  bottom: -10px;
  right: 0;
}
.box-product-status span {
  font-size: 14px;
}
.box-product-status span::before {
  content: "";
  content: "";
  position: absolute;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #9a512b;
  bottom: 18px;
  right: -5px;
}
.box-product-img {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
}
.box-product-img img {
  transition: 0.3s;
}
.box-product-img-custom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
}
.box-product-img-custom i {
  display: block;
  padding: 6px 10px;
  background: #F7941E;
  color: white;
  margin-top: 5px;
  transition: 0.3s;
  transform: rotate(360deg);
}
.box-product-img-custom i:hover {
  background: #128DE0;
  color: white;
}
.box-product-detail h5 {
  margin-bottom: 5px;
}
.box-product-detail h5 a {
  transition: 0.3s;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #F7941E;
}
.box-product-detail h4 {
  color: #F7941E;
}
.box-product-detail .box-product-detail-price {
  margin: 5px 10px;
  display: inline-block;
  color: #128DE0;
  font-weight: 600;
}
.box-product-detail span {
  margin-right: 30px;
  color: black;
  font-size: 14px;
}

.service {
  margin-bottom: 20px;
}
.service .box-service {
  margin-bottom: 30px;
}
.service .box-service img {
  width: 50px;
  margin-bottom: 20px;
}
.service .box-service h2 {
  font-weight: 600;
  margin-bottom: 15px;
}
.service .box-service h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #585858;
}

.video {
  margin-left: 50px !important;
  margin-right: 50px !important;
  height: 80vh;
  margin-bottom: 50px;
}

.box-construction {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
.box-construction:hover img {
  transform: scale(1.2);
}
.box-construction:hover .box-construction-name {
  background: #128DE0;
}
.box-construction:hover .box-construction-name a {
  color: white;
}
.box-construction img {
  transition: 0.5s;
}
.box-construction-name {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  left: 20px;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}
.box-construction-name a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }

  article {
    padding-top: 60px;
  }

  .menu {
    height: 60px;
    background-image: url(../img/bg-header.png);
  }
  .menu .container-fluid {
    width: 100%;
  }
  .menu.down .main-menu .nav {
    margin: 0;
    margin-top: -65px;
  }
  .menu.down .search .search-btn {
    margin: 13px 0;
  }
  .menu .logo {
    height: 40px;
    margin-right: -50px;
  }
  .menu .main-menu {
    border: 0;
    position: absolute;
    left: -15px;
    top: 0;
    width: 100%;
  }
  .menu .main-menu .toggleMenu {
    display: block;
    position: absolute;
    right: 80px;
    top: -63px;
    z-index: 10;
    color: black;
  }
  .menu .main-menu .cart-btn {
    top: 101px;
    position: absolute;
    right: 0;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: black;
    position: absolute;
    width: 300px;
    transform: translate(-300px, 0);
    margin-top: -65px;
    transition: 0.3s;
    height: 100vh;
    opacity: 0;
    padding-top: 30px;
    z-index: 1010;
    color: white;
    overflow: scroll;
    left: 15px;
  }
  .menu .main-menu .nav.out {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 15px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li:hover .menu-down {
    position: absolute;
    top: 50px;
    padding: 30px;
    background: none;
    display: block;
    border: 0;
    background: #111111;
    left: 0;
  }
  .menu .main-menu .nav li:hover a {
    border-bottom: 0;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
  }
  .menu .main-menu .nav li i {
    padding-left: 20px;
  }
  .menu .search {
    z-index: 15;
  }
  .menu .search .search-btn, .menu .search .cart-btn {
    margin: 13px 0;
    background: none;
    color: black;
    font-size: 26px;
    margin-left: 10px;
  }
  .menu .search-form {
    top: 10px;
    right: 15px;
    z-index: 10;
  }
  .menu .search-form input {
    border-right: 1px solid #cccccc;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
  }

  .category-zone {
    height: 700px;
    grid-gap: 15px;
  }
  .category-zone .box-category span {
    padding: 10px 20px;
    width: 180px;
  }

  .product-zone {
    grid-template-columns: repeat(3, 1fr);
  }

  .slider::before {
    content: none;
  }

  .slider {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}
@media (max-width: 992px) {
  .bread-crumb {
    padding-top: 60px;
  }

  .category-zone {
    height: auto;
    grid-template-areas: "cate-1 cate-1" "cate-2 cate-3" "cate-6 cate-6" "cate-4 cate-5";
    grid-gap: 30px;
  }
  .category-zone .box-category {
    height: 400px;
  }

  .product-zone {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .category {
    grid-gap: 15px;
  }
  .category .box-category {
    padding: 15px;
  }
}
@media (max-width: 575px) {
  .menu .search-form.active input {
    width: 250px;
  }

  .cart {
    width: 300px;
    grid-template-rows: 60px calc(100% - 120px) 60px;
  }
  .cart-header {
    padding: 10px 20px;
  }
  .cart-footer a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=layout.css.map */
