<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Nội thất Quý Đại Lộc
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/sweetalert2.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span
    block header
      header      
        section.menu.wow
          .container-fluid
            .row
              .col-xl-2.col-6
                .logo
                  a(href='index.html')
                    img(src='../img/logo.png')
              .col-xl-8.order-xl-0.order-last
                .main-menu
                  a.toggleMenu
                    i.mdi.mdi-menu

                  ul.nav
                    .nav-close
                      i.mdi.mdi-close.d-block.d-xl-none

                    li.nav-item
                      a.nav-link(href='index.html') Trang chủ
                    li.nav-item
                      a.nav-link(href='gioi-thieu.html') Giới thiệu
                    li.nav-item
                      a.nav-link(href='san-pham.html') 
                        | Sản phẩm 
                        i.mdi.mdi-chevron-down

                      ul
                        li
                          a.nav-link(href='san-pham.html') 
                            | Trụ cầu thang
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang kính
                        li
                          a.nav-link(href='san-pham.html') 
                            | Phụ kiện
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang inox
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang sắt
                        li
                          a.nav-link(href='san-pham.html') 
                            | Phòng tắm kính

                    li.nav-item
                      a.nav-link(href='bang-gia.html') 
                        | Bảng giá
                        i.mdi.mdi-chevron-down

                      ul
                        li
                          a.nav-link(href='bang-gia.html') 
                            | Bảng giá trụ cầu thang
                        li
                          a.nav-link(href='bang-gia.html') 
                            | Bảng giá phụ kiện trụ cầu thang

                    li.nav-item
                      a.nav-link(href='cong-trinh.html') Công trình
                    li.nav-item
                      a.nav-link(href='tin-tuc.html') Tin tức
                    li.nav-item
                      a.nav-link(href='lien-he.html') Liên hệ
              
              .col-xl-2.col-6.text-right
                .search
                  .search-btn
                    i.mdi.mdi-magnify
                  a(href='gio-hang.html').cart-btn
                    i.mdi.mdi-cart
                    span 10
            
            .search-form
              form
                input.form-control(type='text', placeholder='Nhập từ khóa . . .', list='suggestions')
                datalist#suggestions
                  option(value='Atom')
                  option(value='Notepad ++')
                  option(value='Sublime Text')
                  option(value='Wordpad')
                  option(value='Thái')

                button
                  i.mdi.mdi-magnify


        .overlay-menu


        

    block article
    
    block footer
      section.footer
        .container
          .row
            .col-lg-3.col-md-4.d-none.d-md-block
              .info 
                h4 Lời tựa
                
                p Nội thất cao cấp Quý Đại Lộc xin gởi lời chào và lời cảm ơn chân thành đến qúy khách hàng, đối tác đã quan tâm, tín nhiệm lựa chọn sản phẩm Quý Đại Lộc trong thời gian qua. Trong thời đại hiện nay việc xây dựng kiến trúc nội thất và áp dụng các kỹ thuật tiên tiến để có được một sản phẩm…

            .col-lg-3.col-md-4.col-sm-6
              .contact
                h4 Thông tin liên hệ
                h5 CÔNG TY TNHH QUÝ ĐẠI LỘC
                ul
                  li
                    i.mdi.mdi-map-marker-radius
                    | 41C3, Khu Phố 11, P.Tân Phong, Biên Hòa, Đồng Nai
                  li
                    i.mdi.mdi-phone-classic
                    | 0938 362 336 - 0916.100.558
                  li
                    i.mdi.mdi-email
                    | noithatquydailoc@gmail.com
                  
            .col-lg-3.d-none.d-lg-block
              .category-footer
                h4 Danh mục sản phẩm
                ul
                  li
                    a(href='san-pham.html') Trụ cầu thang 
                  li
                    a(href='san-pham.html') Cầu thang kính 
                  li
                    a(href='san-pham.html') Phụ kiện 
                  li
                    a(href='san-pham.html') Cầu thang inox 
                  li
                    a(href='san-pham.html') Cầu thang sắt 
                  li
                    a(href='san-pham.html') Phòng tắm kính
                  
            .col-lg-3.col-md-4.col-sm-6
              .link
                h4 Chính sách
                ul
                  li
                    a(href='#') Chính sách và Quy định chung
                  li
                    a(href='#') Quy định và hình thức thanh toán
                  li
                    a(href='#') Chính sách vận chuyển, giao nhận
                  li
                    a(href='#') Chính sách bảo hành
                  li
                    a(href='#') Chính sách bảo mật thông tin
                  li
                    a(href='#') Chính sách đổi trả hàng và hoàn tiền
            

          .footer-bot
            .row
              .col-sm-10.text-center.text-sm-left
                h5 Copyright @ 2019 Quy Dai Loc. All Reserved. Designed by Tri Viet
              .col-sm-2.text-center.text-sm-right
                a(href='youtube.com')
                  i.mdi.mdi-youtube
                a(href='youtube.com')
                  i.mdi.mdi-facebook-box
                a(href='youtube.com')
                  i.mdi.mdi-twitter-box
                a(href='youtube.com')
                  i.mdi.mdi-skype

                    
            
            




      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/wow.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/sweetalert2.min.js')
      script(src='../js/layout.js')
