<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Lê Huy
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span
    block header
      header      
        section.menu.wow
          .container-fluid
            .row
              .col-lg-2.col-6
                .logo
                  a(href='index.html')
                    img(src='../img/logo.png')
              .col-lg-8.order-lg-0.order-last
                .main-menu
                  a.toggleMenu
                    i.mdi.mdi-menu

                  ul.nav
                    .nav-close
                      i.mdi.mdi-close.d-block.d-lg-none

                    li.nav-item
                      a.nav-link(href='index.html') Trang chủ
                    li.nav-item
                      a.nav-link(href='gioi-thieu.html') Giới thiệu
                    li.nav-item
                      a.nav-link(href='san-pham.html') 
                        | Sản phẩm 
                        i.mdi.mdi-chevron-down

                      ul
                        li
                          a.nav-link(href='san-pham.html') 
                            | Trụ cầu thang
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang kính
                        li
                          a.nav-link(href='san-pham.html') 
                            | Phụ kiện
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang inox
                        li
                          a.nav-link(href='san-pham.html') 
                            | Cầu thang sắt
                        li
                          a.nav-link(href='san-pham.html') 
                            | Phòng tắm kính

                    li.nav-item
                      a.nav-link(href='bang-gia.html') 
                        | Bảng giá
                        i.mdi.mdi-chevron-down

                      ul
                        li
                          a.nav-link(href='bang-gia.html') 
                            | Bảng giá trụ cầu thang
                        li
                          a.nav-link(href='bang-gia.html') 
                            | Bảng giá phụ kiện trụ cầu thang

                    li.nav-item
                      a.nav-link(href='cong-trinh.html') Công trình
                    li.nav-item
                      a.nav-link(href='tin-tuc.html') Tin tức
                    li.nav-item
                      a.nav-link(href='lien-he.html') Liên hệ
              
              .col-lg-2.col-6.text-right
                .search
                  .search-btn
                    i.mdi.mdi-magnify
                  .cart-btn
                    i.mdi.mdi-cart
                    span 10
            
            .search-form
              form
                input.form-control(type='text', placeholder='Nhập từ khóa . . .', list='suggestions')
                datalist#suggestions
                  option(value='Atom')
                  option(value='Notepad ++')
                  option(value='Sublime Text')
                  option(value='Wordpad')
                  option(value='Thái')

                button
                  i.mdi.mdi-magnify


        .cart
          .cart-header
            .row
              .col-2
                i.mdi.mdi-close.cart-close(title='Đóng')
              .col-8.text-center
                h3 GIỎ HÀNG
              .col-2.text-right
                i.mdi.mdi-cart
                span 10
          .cart-body
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            

          .cart-footer.text-center
            a(href="gio-hang.html") vào giỏ hàng
            a(href="thanh-toan.html") thanh toán



        .ssm-overlay.ssm-toggle-nav
        .overlay


        

    block article
    
    block footer
      //- section.footer
      //-   .container-fluid
      //-     .row
      //-       .col-xl-3.col-lg-4.col-sm-6
      //-         .footer-1
      //-           .footer-top-1
      //-             i.mdi.mdi-phone-classic
      //-             span
      //-               h4 Hotline
      //-               h5 0912 345 678
      //-           .footer-bottom
      //-             h4 TRỤ SỞ CHÍNH VÀ nhà máy
      //-             ul
      //-               li 
      //-                 i.mdi.mdi-map-marker-radius
      //-                 | Số 1, Đường số 2, Phường 3, Quận 4, TP.HCM
      //-               li 
      //-                 i.mdi.mdi-phone-in-talk
      //-                 | 0912 345 786
      //-               li 
      //-                 i.mdi.mdi-email
      //-                 | ctylehuy@gmail.com

      //-       .col-xl-3.col-lg-4.col-sm-6
      //-         .footer-1
      //-           .footer-top-1
      //-             i.mdi.mdi-source-branch
      //-             span
      //-               h4 HỆ THỐNG PHÂN PHỐI
      //-               h5
      //-                 a(href='#')
      //-                   | Xem thêm 
      //-                   i.mdi.mdi-arrow-right
      //-           .footer-bottom
      //-             h4 văn phòng đại diện
      //-             ul
      //-               li 
      //-                 i.mdi.mdi-map-marker-radius
      //-                 | Số 1, Đường số 2, Phường 3, Quận 4, TP.HCM
      //-               li 
      //-                 i.mdi.mdi-phone-in-talk
      //-                 | 0912 345 786
      //-               li 
      //-                 i.mdi.mdi-email
      //-                 | ctylehuy@gmail.com

      //-       .col-xl-3.col-lg-4.col-sm-6
      //-         .footer-1
      //-           .footer-top-1
      //-             i.mdi.mdi-settings
      //-             span
      //-               h4 TRUNG TÂM BẢO HÀNH
      //-               h5
      //-                 a(href='#')
      //-                   | Xem thêm 
      //-                   i.mdi.mdi-arrow-right
      //-           .footer-bottom
      //-             h4 danh mục sản phẩm
      //-             ul
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
      //-               li 
      //-                 a(href='san-pham.html') Dao phay mọng finger LH
                    
      //-       .col-xl-3.col-sm-6.d-xl-block.d-lg-none.d-md-block
      //-         .footer-2
      //-           h4 LIÊN KẾT VỚI CHÚNG TÔI

      //-           a(href='#')
      //-             i.mdi.mdi-facebook-box
      //-           a(href='#')
      //-             i.mdi.mdi-twitter-box
      //-           a(href='#')
      //-             i.mdi.mdi-google-plus-box
      //-           a(href='#')
      //-             i.mdi.mdi-youtube

      //-         .footer-bottom
      //-           h4 đối tác khách hàng
                
      //-           .owl-carousel.partner-carousel.owl-theme
      //-             .item
      //-               img(src='../img/logo.png')
      //-             .item
      //-               img(src='../img/logo.png')
      //-             .item
      //-               img(src='../img/logo.png')
      //-             .item
      //-               img(src='../img/logo.png')
      //-             .item
      //-               img(src='../img/logo.png')
                  
              
      //-     .footer-bot
      //-       .statis.text-center
      //-         h4 thống kê truy cập
      //-         ul
      //-           li Đang online: 30
      //-           li Tổng truy cập: 56421
                    
            
            




      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/wow.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/layout.js')
