extends _inc


block article 
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Bảng giá trụ cầu thang

    section.table-price
      .container
        h5 Công ty Quý Đại Lộc cám ơn sự quan tâm của Quý Khách hàng tới công ty chúng tôi, chúng tôi xin gửi tới Quý Công ty bảng báo giá thi công trụ cầu thang kính như sau: Báo giá trên cho đơn hàng 3 ly 304 , hàng 3,5 cộng thêm 20.000đ/ 1 cây

        table.table.table-bordered
          thead
            tr
              th SẢN PHẨM
              th ĐƠN GIÁ 201
              th ĐƠN GIÁ 304
          tbody
            tr
              td.table-img
                img(src='../img/product-1.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-2.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-1.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-2.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-1.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-2.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-1.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-2.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-1.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            tr
              td.table-img
                img(src='../img/product-2.png')
                h4
                  a(href='chi-tiet-san-pham.html') QDL06
              td 250.000
              td 350.000
            
            
