extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='tin-tuc.html') Tin tức
              li.breadcrumb-item.active Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, laborum.
    
    section.page-text
      .container
        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, deleniti.
        h5
          i.mdi.mdi-clock
          | 20/11/2019

        h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum earum id magnam esse dignissimos in, similique distinctio ratione nobis sint.
        img(src='../img/news-1.png')
        
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        
