extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Công trình

    section.page-more
      .container
        .title-page
          h1 Công trình

        .row
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?
          
          .col-lg-4.col-md-6
            .box-construction
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
                .box-construction-name
                  a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?

        nav
          ul.pagination.justify-content-end
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link.active(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next  

          