extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Giới thiệu
    
    section.page-text
      .container
        .title-page
          h1 Giới thiệu
        
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsum? Ipsum beatae doloremque velit ex non blanditiis harum nulla dignissimos possimus accusamus! A architecto suscipit incidunt rem quasi ipsum optio!
        
