extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Tin tức

    section.page-more
      .container
        .title-page
          h1 Tin tức

        .row
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
          .col-lg-4.col-md-6
            .box-news
              .box-news-img
                a(href='chi-tiet-tin-tuc.html')
                  img(src='../img/news-1.png')
              .box-news-detail
                h5
                  i.mdi.mdi-clock
                  | 20/11/2019
                h4
                  a(href='chi-tiet-san-pham.html')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam delectus molestiae debitis. Ad itaque minima quasi nam laudantium earum neque.
          
        nav
          ul.pagination.justify-content-end
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link.active(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next          
