extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Video

    section.video-page
      .container
        .title-page
          h1 Video
        
        .row
          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          .col-lg-4.col-md-6
            .box-video
              iframe(width='100%', height='300', src='https://www.youtube.com/embed/CdThKgmqgSQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h5
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, molestiae.

          