<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Nội thất Quý Đại Lộc</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>     
      <section class="menu wow">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-6">
              <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
            </div>
            <div class="col-xl-8 order-xl-0 order-last">
              <div class="main-menu"><a class="toggleMenu"><i class="mdi mdi-menu"></i></a>
                <ul class="nav">
                  <div class="nav-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
                  <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                  <li class="nav-item"><a class="nav-link" href="gioi-thieu.html">Giới thiệu</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham.html">
                       Sản phẩm <i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="san-pham.html">
                           Trụ cầu thang</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang kính</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phụ kiện</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang inox</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang sắt</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phòng tắm kính</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="bang-gia.html">
                       Bảng giá<i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá trụ cầu thang</a></li>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá phụ kiện trụ cầu thang</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="cong-trinh.html">Công trình</a></li>
                  <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức</a></li>
                  <li class="nav-item"><a class="nav-link" href="lien-he.html">Liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-6 text-right">
              <div class="search">
                <div class="search-btn"><i class="mdi mdi-magnify"></i></div>
                <div class="cart-btn"><i class="mdi mdi-cart"></i><span>10</span></div>
              </div>
            </div>
          </div>
          <div class="search-form">
            <form>
              <input class="form-control" type="text" placeholder="Nhập từ khóa . . ." list="suggestions"/>
              <datalist id="suggestions">
                <option value="Atom"></option>
                <option value="Notepad ++"></option>
                <option value="Sublime Text"></option>
                <option value="Wordpad"></option>
                <option value="Thái"></option>
              </datalist>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
        </div>
      </section>
      <div class="cart">
        <div class="cart-header">
          <div class="row">
            <div class="col-2"><i class="mdi mdi-close cart-close" title="Đóng"></i></div>
            <div class="col-8 text-center">
              <h3>GIỎ HÀNG</h3>
            </div>
            <div class="col-2 text-right"><i class="mdi mdi-cart"></i><span>10</span></div>
          </div>
        </div>
        <div class="cart-body">
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
        </div>
        <div class="cart-footer text-center"><a href="gio-hang.html">vào giỏ hàng</a><a href="thanh-toan.html">thanh toán</a></div>
      </div>
      <div class="overlay-menu"></div>
      <div class="overlay"></div>
    </header>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>