<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Nội thất Quý Đại Lộc</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>     
      <section class="menu wow">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-6">
              <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
            </div>
            <div class="col-xl-8 order-xl-0 order-last">
              <div class="main-menu"><a class="toggleMenu"><i class="mdi mdi-menu"></i></a>
                <ul class="nav">
                  <div class="nav-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
                  <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                  <li class="nav-item"><a class="nav-link" href="gioi-thieu.html">Giới thiệu</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham.html">
                       Sản phẩm <i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="san-pham.html">
                           Trụ cầu thang</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang kính</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phụ kiện</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang inox</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang sắt</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phòng tắm kính</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="bang-gia.html">
                       Bảng giá<i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá trụ cầu thang</a></li>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá phụ kiện trụ cầu thang</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="cong-trinh.html">Công trình</a></li>
                  <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức</a></li>
                  <li class="nav-item"><a class="nav-link" href="lien-he.html">Liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-6 text-right">
              <div class="search">
                <div class="search-btn"><i class="mdi mdi-magnify"></i></div><a class="cart-btn" href="gio-hang.html"><i class="mdi mdi-cart"></i><span>10</span></a>
              </div>
            </div>
          </div>
          <div class="search-form">
            <form>
              <input class="form-control" type="text" placeholder="Nhập từ khóa . . ." list="suggestions"/>
              <datalist id="suggestions">
                <option value="Atom"></option>
                <option value="Notepad ++"></option>
                <option value="Sublime Text"></option>
                <option value="Wordpad"></option>
                <option value="Thái"></option>
              </datalist>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="san-pham.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="san-pham.html">Trụ cầu thang</a></li>
                <li class="breadcrumb-item active">QDL06</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="product-page">
        <div class="container">
          <div class="left">
            <div class="seller-product">
              <h3>sản phẩm bán chạy</h3>
              <div class="box-product-seller">
                <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                <div class="box-product-seller-detail">
                  <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                  <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                  <p>
                     201<span>250.000</span></p>
                  <p>
                     304<span>350.000</span></p>
                </div>
              </div>
              <div class="box-product-seller">
                <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                <div class="box-product-seller-detail">
                  <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                  <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                  <p>
                     201<span>250.000</span></p>
                  <p>
                     304<span>350.000</span></p>
                </div>
              </div>
              <div class="box-product-seller">
                <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                <div class="box-product-seller-detail">
                  <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                  <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                  <p>
                     201<span>250.000</span></p>
                  <p>
                     304<span>350.000</span></p>
                </div>
              </div>
              <div class="box-product-seller">
                <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                <div class="box-product-seller-detail">
                  <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                  <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                  <p>
                     201<span>250.000</span></p>
                  <p>
                     304<span>350.000</span></p>
                </div>
              </div>
              <div class="box-product-seller">
                <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                <div class="box-product-seller-detail">
                  <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                  <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                  <p>
                     201<span>250.000</span></p>
                  <p>
                     304<span>350.000</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="product-detail">
              <div class="product-detail-1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="product-detail-1-img"><img src="../img/product-1.png"/></div>
                  </div>
                  <div class="col-md-6">
                    <div class="product-detail-1-detail">
                      <h2>Bộ bàn ghế gỗ ABCXYZ</h2>
                      <h4 class="price-product">201<span>250.000</span></h4>
                      <h4 class="price-product">304<span>350.000</span></h4>
                      <h5>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</h5>
                      <div class="quantity"><span>Số lượng: </span>
                        <button class="waves-effect waves-light">-</button>
                        <input type="number" value="1" min="1"/>
                        <button class="waves-effect waves-light">+</button><span>Loại: </span>
                        <select class="form-control">
                          <option>201</option>
                          <option>304</option>
                        </select><a class="custom-cart">thêm vào giỏ</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-detail-2">
                <div class="product-detail-2-title">
                  <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="desc-1-tab" data-toggle="tab" href="#desc-1" role="tab" aria-controls="desc-1" aria-selected="true">Chi tiết sản phẩm</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="desc-1" role="tabpanel" aria-labelledby="desc-1-tab">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="similar">
        <div class="container">
          <div class="title-page">
            <h1>Sản phẩm liên quan</h1>
          </div>
          <div class="similar-box">
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 d-none d-md-block">
            <div class="info"> 
              <h4>Lời tựa</h4>
              <p>Nội thất cao cấp Quý Đại Lộc xin gởi lời chào và lời cảm ơn chân thành đến qúy khách hàng, đối tác đã quan tâm, tín nhiệm lựa chọn sản phẩm Quý Đại Lộc trong thời gian qua. Trong thời đại hiện nay việc xây dựng kiến trúc nội thất và áp dụng các kỹ thuật tiên tiến để có được một sản phẩm…</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="contact">
              <h4>Thông tin liên hệ</h4>
              <h5>CÔNG TY TNHH QUÝ ĐẠI LỘC</h5>
              <ul>
                <li><i class="mdi mdi-map-marker-radius"></i>41C3, Khu Phố 11, P.Tân Phong, Biên Hòa, Đồng Nai</li>
                <li><i class="mdi mdi-phone-classic"></i>0938 362 336 - 0916.100.558</li>
                <li><i class="mdi mdi-email"></i>noithatquydailoc@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="category-footer">
              <h4>Danh mục sản phẩm</h4>
              <ul>
                <li><a href="san-pham.html">Trụ cầu thang </a></li>
                <li><a href="san-pham.html">Cầu thang kính </a></li>
                <li><a href="san-pham.html">Phụ kiện </a></li>
                <li><a href="san-pham.html">Cầu thang inox </a></li>
                <li><a href="san-pham.html">Cầu thang sắt </a></li>
                <li><a href="san-pham.html">Phòng tắm kính</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="link">
              <h4>Chính sách</h4>
              <ul>
                <li><a href="#">Chính sách và Quy định chung</a></li>
                <li><a href="#">Quy định và hình thức thanh toán</a></li>
                <li><a href="#">Chính sách vận chuyển, giao nhận</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
                <li><a href="#">Chính sách đổi trả hàng và hoàn tiền</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bot">
          <div class="row">
            <div class="col-sm-10 text-center text-sm-left">
              <h5>Copyright @ 2019 Quy Dai Loc. All Reserved. Designed by Tri Viet</h5>
            </div>
            <div class="col-sm-2 text-center text-sm-right"><a href="youtube.com"><i class="mdi mdi-youtube"></i></a><a href="youtube.com"><i class="mdi mdi-facebook-box"></i></a><a href="youtube.com"><i class="mdi mdi-twitter-box"></i></a><a href="youtube.com"><i class="mdi mdi-skype"></i></a></div>
          </div>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>