<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Nội thất Quý Đại Lộc</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>     
      <section class="menu wow">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-6">
              <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
            </div>
            <div class="col-xl-8 order-xl-0 order-last">
              <div class="main-menu"><a class="toggleMenu"><i class="mdi mdi-menu"></i></a>
                <ul class="nav">
                  <div class="nav-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
                  <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                  <li class="nav-item"><a class="nav-link" href="gioi-thieu.html">Giới thiệu</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham.html">
                       Sản phẩm <i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="san-pham.html">
                           Trụ cầu thang</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang kính</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phụ kiện</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang inox</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Cầu thang sắt</a></li>
                      <li><a class="nav-link" href="san-pham.html">
                           Phòng tắm kính</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="bang-gia.html">
                       Bảng giá<i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá trụ cầu thang</a></li>
                      <li><a class="nav-link" href="bang-gia.html">
                           Bảng giá phụ kiện trụ cầu thang</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="cong-trinh.html">Công trình</a></li>
                  <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức</a></li>
                  <li class="nav-item"><a class="nav-link" href="lien-he.html">Liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-6 text-right">
              <div class="search">
                <div class="search-btn"><i class="mdi mdi-magnify"></i></div>
                <div class="cart-btn"><i class="mdi mdi-cart"></i><span>10</span></div>
              </div>
            </div>
          </div>
          <div class="search-form">
            <form>
              <input class="form-control" type="text" placeholder="Nhập từ khóa . . ." list="suggestions"/>
              <datalist id="suggestions">
                <option value="Atom"></option>
                <option value="Notepad ++"></option>
                <option value="Sublime Text"></option>
                <option value="Wordpad"></option>
                <option value="Thái"></option>
              </datalist>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
        </div>
      </section>
      <div class="cart">
        <div class="cart-header">
          <div class="row">
            <div class="col-2"><i class="mdi mdi-close cart-close" title="Đóng"></i></div>
            <div class="col-8 text-center">
              <h3>GIỎ HÀNG</h3>
            </div>
            <div class="col-2 text-right"><i class="mdi mdi-cart"></i><span>10</span></div>
          </div>
        </div>
        <div class="cart-body">
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
        </div>
        <div class="cart-footer text-center"><a href="gio-hang.html">vào giỏ hàng</a><a href="thanh-toan.html">thanh toán</a></div>
      </div>
      <div class="overlay-menu"></div>
      <div class="overlay"></div>
    </header>
    <article>
      <section class="slider d-none d-sm-block">
        <div class="owl-carousel slider-carousel owl-theme">
          <div class="item"><a href="san-pham.html"><img src="../img/slider-1.png"/></a></div>
          <div class="item"><a href="san-pham.html"><img src="../img/slider-2.png"/></a></div>
        </div>
      </section>
      <section class="aboutus">
        <div class="container">
          <h1 class="text-center">Nội thất quý Đại Lộc</h1>
          <h3 class="text-center">Sự tin tưởng của mọi nhà</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Trong thời đại hiện nay việc xây dựng kiến trúc nội thất và áp dụng các kỹ thuật tiên tiến để có được một sản phẩm nội thất cầu thang kính hiện đại đang là xu thế mới được nhiều người ưa chuộng. Với xu thế phát triển đô thị hóa, nhu cầu thẩm mỹ cửa các công trình xây dựng ngày càng cao, trong đó nhu cầu sử dụng các loại cửa đã trở thành một phần rất quan trọng không thể tách rời trong phát triển của kiến trúc hiện đại, Với đặc tính nhẹ, sang trọng, bền đẹp… Nhôm kính là sản phẩm được ưa chuông trong ngành xây dựng Kiến trúc và Trang trí nội thất.</p>
            </div>
            <div class="col-md-6">
              <p>Từ nhu cầu đó Quý Đại Lộc không ngừng nâng cao chất lượng, đa dạng mẫu mã sản phẩm,.. Nhằm góp phần tô đẹp thêm cho kiến trúc Việt Nam. Nhôm kính cao cấp Quý Đại Lộc sẽ tạo sự an tâm hoàn toàn và hài lòng khi khách hàng đến với sản phẩm cửa chúng tôi .Nhôm kính cao cấp Quý Đại Lộc chuyên thiết kế, thi công và cung cấp các dòng sản phẩm về nhôm kính và sắt mỹ thuật phục vụ cho các công trình công nghiệp và dân dụng như: nhà ở, nhà xưởng, biệt thự, văn phòng, showroom …</p>
            </div>
          </div>
          <div class="dash"></div>
          <div class="dash"></div>
        </div>
      </section>
      <section class="category">
        <div class="container">
          <div class="title-page">
            <h1>Danh mục sản phẩm</h1>
          </div>
          <div class="category-zone">
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-1.png"/><span>Trụ cầu thang</span></a></div>
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-2.png"/><span>CẦU THANG KÍNH</span></a></div>
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-3.png"/><span>PHỤ KIỆN</span></a></div>
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-4.png"/><span>CẦU THANG INOX</span></a></div>
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-5.png"/><span>CẦU THANG SẮT</span></a></div>
            <div class="box-category"><a href="san.pham.html" title="Xem chi tiết"><img src="../img/cate-6.png"/><span>PHÒNG TẮM KÍNH</span></a></div>
          </div>
        </div>
      </section>
      <section class="product">
        <div class="container">
          <div class="title-page">
            <h1>Sản phẩm bán chạy</h1>
          </div>
          <div class="product-zone">
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span>MỚI</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h4><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i><i class="mdi mdi-star-outline"></i></h4>
                <h5><a href="chi-tiet-san-pham.html">QDL06</a></h5>
                <h3> <span>201 </span>
                  <div class="box-product-detail-price">250.000</div>
                </h3>
                <h3> <span>304 </span>
                  <div class="box-product-detail-price">350.000</div>
                </h3>
              </div>
            </div>
          </div>
          <div class="product-all"><a href="san-pham.html">Xem tất cả sản phẩm</a></div>
        </div>
      </section>
      <section class="service">
        <div class="container">
          <div class="title-page">
            <h1>Chúng tôi làm được những gì ?</h1>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="box-service"><img src="../img/service-1.png"/>
                <h2>Thiết kế</h2>
                <h5>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in vulputate. Sed eleifend lacus eu sapien sagittis imperdiet. Etiam tempor mollis augue, ut tincidunt ex interdum eu. Pellentesque rhoncus lectus sed posuere viverra. Vestibulum id turpis lectus. Donec rhoncus quis elit sed fermentum. Nullam sit amet ex enim. Fusce nec suscipit nulla. Maecenas porta mi vestibulum, lobortis est ac, hendrerit dui. Pellentesque auctor id enim sit amet molestie.</h5>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="box-service"><img src="../img/service-2.png"/>
                <h2>Thi công</h2>
                <h5>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in vulputate. Sed eleifend lacus eu sapien sagittis imperdiet. Etiam tempor mollis augue, ut tincidunt ex interdum eu. Pellentesque rhoncus lectus sed posuere viverra. Vestibulum id turpis lectus. Donec rhoncus quis elit sed fermentum. Nullam sit amet ex enim. Fusce nec suscipit nulla. Maecenas porta mi vestibulum, lobortis est ac, hendrerit dui. Pellentesque auctor id enim sit amet molestie.</h5>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="box-service"><img src="../img/service-3.png"/>
                <h2>Cung cấp</h2>
                <h5>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in vulputate. Sed eleifend lacus eu sapien sagittis imperdiet. Etiam tempor mollis augue, ut tincidunt ex interdum eu. Pellentesque rhoncus lectus sed posuere viverra. Vestibulum id turpis lectus. Donec rhoncus quis elit sed fermentum. Nullam sit amet ex enim. Fusce nec suscipit nulla. Maecenas porta mi vestibulum, lobortis est ac, hendrerit dui. Pellentesque auctor id enim sit amet molestie.</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CdThKgmqgSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </section>
      <section class="construction">
        <div class="container">
          <div class="title-page">
            <h1>Công trình đã thực hiện</h1>
          </div>
          <div class="owl-carousel construction-carousel owl-theme">
            <div class="item">
              <div class="box-construction"><a href="chi-tiet-cong-trinh.html"><img src="../img/construction-1.png"/>
                  <div class="box-construction-name"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?</a></div></a></div>
            </div>
            <div class="item">
              <div class="box-construction"><a href="chi-tiet-cong-trinh.html"><img src="../img/construction-1.png"/>
                  <div class="box-construction-name"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?</a></div></a></div>
            </div>
            <div class="item">
              <div class="box-construction"><a href="chi-tiet-cong-trinh.html"><img src="../img/construction-1.png"/>
                  <div class="box-construction-name"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?</a></div></a></div>
            </div>
            <div class="item">
              <div class="box-construction"><a href="chi-tiet-cong-trinh.html"><img src="../img/construction-1.png"/>
                  <div class="box-construction-name"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad aliquid aut cupiditate expedita ipsa beatae inventore autem earum ducimus?</a></div></a></div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>